.checked {
  text-decoration: line-through;
  color: gray;
}

.unchecked {
  text-decoration: none;
  color: black;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
  font-family: 'Shadows Into Light';
}